.trainingWrapper {
  margin: 1rem 0;

  & li {
    padding: 0 1rem;
    list-style: disc;
    /* list-style-position: inside; */
  }
}

.trainingList {
  margin: 1rem 0;
}
.trainingItems {
  padding: 0 1rem;
}
