.footerWrapper {
  position: fixed;
  /* display: flex; */
  /* justify-content: space-around; */
  /* margin: 1rem 0; */
  /* justify-items: center; */
  width: 100vw;
  background-color: rgba(36, 36, 36, 1);
  /* color-scheme: light dark; */
  /* margin-top: 0.5rem; */
  bottom: 0;
  left: 0;
  /* border-top: 1px solid #e2e2e2; */
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.iconList {
  display: flex;
  /* gap: 40px; */
  align-items: center;

  justify-content: space-between;
}

.iconItems {
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  & svg {
    width: 30px;
    height: 30px;
    /* fill: #fff; */
  }
}
