.imageWrapper {
  display: flex;
}

.imageContainer {
  display: flex;
  overflow: hidden;

  & img {
    width: 90%;
    object-fit: cover;
  }
}

.imageDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.name {
  font-size: 1.5rem;
  /* color: #d24fa0; */
  color: rgb(167, 93, 235);
  font-weight: bold;
}
.iconsContainer {
  display: flex;
  justify-content: space-between;
}
.iconList {
  display: flex;
  gap: 40px;
  align-items: center;

  justify-content: space-between;
}

.iconItems {
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & svg {
    width: 25px;
    height: 25px;
    /* fill: #fff; */
  }
}
