.workList {
  margin: 1rem 0;

  & hr {
    margin: 1rem 0;
  }
}
.position {
  font-weight: 600;
}
.company {
  color: #c9c9c9;
  /* font-weight: 500; */
}
.duration {
  font-style: italic;
  font-size: 0.75rem;
}
.location {
  font-size: 0.75rem;
}
.workListItemContainer {
  padding: 1rem 0;
}
.workListItem {
  display: list-item;
  list-style-type: disc;
  margin: 0 0.5rem;
}
