.summaryWrapper {
  margin: 1rem 0;

  & li {
    list-style: disc;
    padding: 0 1rem;
    /* list-style-position: inside; */
  }
}

.summaryList {
  margin: 1rem 0;
}
.summaryItems {
  padding: 0 1rem;
}
