.cvWrapper {
  padding: 2rem;
  max-width: 1024px;
  min-width: 768px;
  background-color: #fff;
  color: var(--BLACK-FONT);
  font-family: Didact, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;

  & li {
    list-style-type: disc;
  }
  & h1 {
    /* font-size: 0.875rem; */
    font-weight: 700;
  }

  & h2 {
    /* font-size: 0.75rem; */
    font-weight: 700;
    color: var(--GREY-FONT);
  }

  & span {
    color: var(--GREY-FONT);
    margin-right: 30px;
  }

  & p {
    font-size: 0.625rem;
  }
}

.headerList {
  display: flex;
  gap: 40px;
  padding: 0 1rem;
}
.cvAddress {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.cvList {
  margin: 1rem 0;
}
.cvProfessionalWrapper {
  margin: 1rem 0;
}
.profTitle {
  border-bottom: 1px solid #000;
  margin-bottom: 0.25rem;
}

.profDescription {
  text-align: justify;
  /* font-size: 0.625rem; */
}

.sumList {
  padding: 0 1rem;
}
