.skillWrapper {
  margin-bottom: 1rem;

  & li {
    list-style: disc;
    margin: 0 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
  }
}

.skillList {
  /* margin: 1rem 0; */
}
/* .educationItems {
  padding: 0 1rem;
} */
.title {
  border-bottom: 1px double #000;
  margin-bottom: 0.25rem;
}
.skillContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.skillSection {
  & p {
    color: black;
  }
}

.lang {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
/* .school,
.certificate {
  font-weight: 400;
  font-size: 0.875rem;
} */
